/*

COLOUR PALETTE

orange accent       ff8e2d
teal                20abad
darker teal         007c84
off-white           eeeaeb

GOOGLE FONTS 

font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/

/* UNIVERSAL STYLES */
ul {
    list-style: none;
}

li {
    margin: 2rem 1rem 0rem 1rem;
}

.submenu>li>a {
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Pacifico', cursive;
    color: #fff;
}

h3 {
    display: none;
}

a {
    text-transform: uppercase;
}

a,
p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

header {
    background-color: #20abad;
}

.svg {
    max-width: 1.2rem;
    filter: invert(99%) sepia(4%) saturate(61%) hue-rotate(120deg) brightness(114%) contrast(100%);
}

/* MOBILE VIEW */
.banner {
    background-color: #ff8e2d;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/grapefruit-bg.jpg');
    width: auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding-top: 1rem;
}

h1,
h2,
p {
    text-align: center;
}

nav {
    padding-bottom: 3rem;
}

.banner {
    background-size: 150%;
    background-position-x: 0%;
}

.banner>div {
    padding: 4rem;
}

.banner>div>p {
    padding-top: 1rem;
}

h2 {
    font-size: 3rem;
}

.button>div {
    background-color: #20abad;
    border-radius: .5rem;
    max-width: 8rem;
    min-height: 3rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    line-height: 3rem;
}

.svg {
    display: none;
}

/* DESKTOP VIEW */
@media screen and (min-width: 720px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        padding: 0rem 3rem 0rem 3rem;
    }

    .submenu {
        position: absolute;
        opacity: 0;
        margin: 0;
        background-color: #20abad;
    }

    .svg {
        display: inline;
        padding-left: .4rem;
    }

    ul li:hover>ul,
    ul li:focus-within>ul,
    .submenu:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        padding: 0rem 0rem 2rem 0rem;
        transition: opacity .4s;
    }

    .banner {
        background-image: url('/img/grapefruit-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column;
        width: auto;
        height: auto;
    }

}

/* LARGEST VIEW */
@media screen and (min-width: 1024px) {}